body {
    background-image: url("assets/images/friends.jpg");
}

#title {
    font-family: 'Permanent Marker', cursive;
    background-color: darkcyan;
    color: white;
    font-size: 50px;
    padding: 30px;
}

#wrapper {
    text-align: center;
}

#start {
    background: red;
    font-family: 'Permanent Marker', cursive;
    font-size: 12px;
}